<form>
  <mat-form-field>
    <mat-label>{{ placeholder }}</mat-label>
    <input
      type="text"
      placeholder="{{ placeholder }}"
      aria-label="Membre"
      matInput
      [formControl]="query"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
      <mat-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option.id"
      >
        <span *ngFor="let property of getProperties()"
          >{{ option[property] }}
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
