<div id="channel" *ngIf="selectedChannel$ | async as channel">
  <app-side-panel title="Membres" [list]="channel.members"></app-side-panel>
  <div id="view">
    <div id="channel_name">
      <span>Canal : <strong>{{channel.name}}</strong></span>
      <button class="button">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    <div id="messages" #messages_id *ngIf="messages$ | async as messages">
      <ng-container *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
      </ng-container>
    </div>
    <form id="message_input" [formGroup]="messageForm" (ngSubmit)="addMessage()">
      <button class="button">
        <mat-icon>upload</mat-icon>
      </button>
      <input type="text" id="message" formControlName="message">
      <button class="button" (click)="addMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
  <app-side-panel title="Fichier" [list]="channel.members"></app-side-panel>

  <ng-template #template></ng-template>
</div>
