<div class="title content-card">
  <span>Membres</span>
</div>
<div class="users content-card">
  <ng-container *ngIf="userLoadingStatus$ | async as status">
    <div *ngIf="status != 'loading' else loading">
      <button mat-raised-button color="accent" (click)="openDialog()">Ajouter un utilisateur</button>
      <app-data-table [items]="users()" [columns]="columns" [hasUpdate]="true" [hasDelete]="true"
                      (onUpdate)="onUpdate($event)" (onDelete)="onDelete($event)"/>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

