#view {
  width: 68vw;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

#title {
  flex: 1;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  background-color: var(--color-white);
  border-radius: 7px;
  margin-bottom: 0.5em;

  span {
    position: relative;
    top: 30%;
  };
}

#members {
  flex: 20;
  background-color: var(--color-white);
  padding: 2em;
  border-radius: 7px;
}

mat-spinner {
  margin: auto;
}
