<div class="title content-card" *ngIf="selectedGroup$ | async as group">
  <span>Groupe : {{ group.name }}</span>
  <button mat-icon-button><mat-icon>settings</mat-icon></button>
</div>
<div class="members content-card">
  <ng-container *ngIf="members$ | async as members">
    <button mat-raised-button color="accent" (click)="openDialog()">Ajouter des membres</button>
    <div id="table">
      <app-data-table (onDelete)="onDelete($event)" [items]="members" [columns]="columns" [hasDelete]="true"/>
    </div>
  </ng-container>
</div>

