#title {
  color: var(--color-accent-light);//#FF9763;
  padding: 0.5em;
}

#panel {
  flex: 15;
  padding: 1.5em 1em;
  background-color: var(--color-primary-light);//#818296;
}

.list-item {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  border-radius: 7px;
  background-color: var(--color-neutral);
  color: var(--color-on-neutral);

  div {
    margin-left: 2em;
    font-weight: bold;
  }
}

mat-icon {
  width: fit-content;
  height: fit-content;
  font-size: xx-large;
}
