ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  margin: 0;
}

mat-list-item {
  margin-top: 0.2em;
  padding: 0.5em 1em;
  border-radius: 7px;

  div {
    font-weight: bold;
    color: var(--color-on-neutral);
  }
}

.color-neutral {
  background-color: var(--color-neutral);
}
.color-light {
  background-color: var(--color-neutral-light);
}

@media (max-width: 1000px) {
  mat-list {
    display: flex;
  }
}
