.title {
  color: #FF9763;
  padding: 0.5em;
}

.panel {
  padding: 1.5em 1em;
}

.color-light {
  background-color: var(--color-primary-light);
}

.color-lightest {
  background-color: var(--color-primary-lightest);
}



