header {
  background-color: var(--color-primary); /*#3E4160;*/
  min-height: 4rem;
  display: flex;
}

#search_panel {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    background-color: #818296;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1em 0.5em 3em;
    width: 20vw;
    color: #FFFFFF;
    min-width: 200px;
  }

  form {
    display: flex;
    align-items: center;

    mat-icon {
      position: relative;
      left: 30px;
      color: #FF9763;
    }
  }

}

#profile_panel {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 2em;

    mat-icon {
      margin: auto;
    }
  }
}

@media (max-width: 900px) {
  header {
    min-height: 0;
    height: 4rem;
  }

  #search_panel {
    justify-content: flex-start;

    form {
      align-items: flex-start;

      input {
        background-color: #818296;
        border: none;
        border-radius: 20px;
        padding: 0.5em 1em 0.5em 3em;
        min-width: 200px;
        color: #FFFFFF;
      }

      mat-icon {
        position: relative;
        left: 30px;
        color: #FF9763;
      }
    }
  }
}
